## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [2]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [3]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.00,54639.00,54639.00,54639.00,54639.00,54639.00,54639.00,54639.00,54639.00
mean,54837.87,5470190.03,11.36,2022.99,136.27,99.45,5.00,570.26,2.98
std,25487.44,2599806.93,7.02,0.08,183.87,133.16,5.33,18795.52,2.44
min,10033.00,1000886.00,1.00,2022.00,0.01,0.01,0.00,0.00,0.00
25%,33593.00,3196372.00,6.00,2023.00,20.80,14.84,1.45,32.00,1.00
50%,53305.00,5496966.00,11.00,2023.00,68.31,49.89,3.24,68.00,3.00
75%,78498.00,7733869.00,17.00,2023.00,173.16,125.57,6.89,170.00,5.00
max,99984.00,9998480.00,52.00,2023.00,1396.23,846.27,46.43,3958244.00,9.00

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.
df.info

<bound method DataFrame.info of            first       last                      job               phone  \
0         Donald    Harding             Immunologist  793-904-7725x39308
1        Tiffany      Myers          Music therapist    201.442.4543x942
2        Shannon     Watson             Immunologist   687.737.9424x8503
3         Nathan      Baker    Accounting technician    827-788-8123x012
4      Christina   Schwartz             Chiropractor        265-829-3643
...          ...        ...                      ...                 ...
54634     Lauren      Reese           Radio producer  977.877.5272x11382
54635    Derrick      Moore                 Musician        358.661.5483
54636     Monica  Gutierrez         Graphic designer    294.805.9100x339
54637      Wanda    Solomon             Toxicologist       (311)767-4924
54638     Dwayne       Bell  Chief Financial Officer   606-619-7667x9508

                                     email  client_id  order_id  order_date  \
0         harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1        myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                    swatson8146@payne.net      57113   1902144  2023-01-29
3                   bakernathan@benson.com      46554   9031802  2023-04-25
4      christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28
...                                    ...        ...       ...         ...
54634   late_reese_4081@montoya-chavez.org      29043   9021716  2023-04-26
54635         derrick.moore.2602@pope.info      41908   6290153  2023-02-08
54636            gutierrezm3195@morris.org      35176   8692622  2023-03-05
54637            solomonwanda5962@ross.org      24485   7592730  2023-01-18
54638                     belld@galvan.com      24007   7489403  2023-01-04

       order_week  order_year         item_id     category  \
0              17        2023  EUD29711-63-6U        decor
1              20        2023  XDA18116-89-4A  consumables
2               4        2023  ABE59463-05-7E     software
3              17        2023  ZMM00836-65-0C  consumables
4              21        2023  BZX55559-12-3X  consumables
...           ...         ...             ...          ...
54634          17        2023  UCA28532-31-0B     software
54635           6        2023  EBD29277-23-7U  consumables
54636           9        2023  EBD30093-55-9Z  consumables
54637           3        2023  XMZ38239-49-3D    furniture
54638           1        2023  ZCZ05589-50-5D     software

              subcategory  unit_price  unit_cost  unit_weight   qty  \
0                wall art     1096.80     762.71         7.50   105
1                    pens       24.95      15.09         1.49    21
2      project management       13.52       7.86         1.68    39
3                    pens       36.42      24.85         1.23    29
4                    misc      195.10     108.17        46.43    20
...                   ...         ...        ...          ...   ...
54634           logistics       83.13      51.60         2.25    33
54635    kitchen supplies      206.59     175.46        11.70    47
54636   bathroom supplies       65.66      57.31         4.16   475
54637              stands        1.48       1.22        18.04   112
54638  project management        3.01       1.61         2.07  1031

       line_number
0                1
1                0
2                6
3                3
4                1
...            ...
54634            8
54635            0
54636            6
54637            0
54638            5

[54639 rows x 18 columns]>

In [5]:
df.count()

first          54639
last           54639
job            54639
phone          54639
email          54639
client_id      54639
order_id       54639
order_date     54639
order_week     54639
order_year     54639
item_id        54639
category       54639
subcategory    54639
unit_price     54639
unit_cost      54639
unit_weight    54639
qty            54639
line_number    54639
dtype: int64

In [6]:
# What three item categories had the most entries?
popular_categories = df["category"].value_counts().head(3)
popular_categories
# consumables, furniture, software

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [7]:
# For the category with the most entries,
# which subcategory had the most entries?
most_popular_category = df.loc[df["category"] == "consumables"]
most_popular_category["subcategory"].value_counts().head(1)
# bathroom supplies

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [8]:
# Which five clients had the most entries in the data?
most_popular_clients = df["client_id"].value_counts().head(5)
most_popular_clients
# 33615,66037,46820,38378,24741

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [9]:
# Store the client ids of those top 5 clients in a list.
most_popular_clients

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [10]:
# How many total units (the qty column) did the
# client with the most entries order order?
orders_top_client = df.loc[df["client_id"] == 33615]
sum_qty_top_client = orders_top_client["qty"].sum()
sum_qty_top_client

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [11]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty
df["subtotal"] = df["qty"] * df["unit_price"]
df.head(5)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00

In [12]:
# add weight column
df["total_weight"] = df["qty"]*df["unit_weight"]
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,total_weight
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95,31.29
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28,65.52
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18,35.67
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00,928.60

In [13]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.
def calculate_shipping(qty, unit_weight):
    weight = qty * unit_weight
    return weight * 7 if weight > 50 else weight * 10

df['shipping_price'] = df.apply(lambda row: calculate_shipping(row['qty'], row['unit_weight']), axis=1)
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,total_weight,shipping_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,35.67,356.70
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20

In [14]:
# check work
less_than_fifty_lbs = df.loc[df["shipping_price"] < 350]
less_than_fifty_lbs

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,total_weight,shipping_price
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90
8,Rebecca,Brown,Chiropodist,665-955-0156x926,rbrown850@lewis.info,73362,9394118,2023-05-13,19,2023,...,consumables,paper products,83.86,59.00,0.27,49,3,4109.14,13.23,132.30
27,Jacob,Mendoza,Air cabin crew,+1-264-485-0270x066,jacobmendoza@johnson.biz,54932,5175749,2023-05-28,21,2023,...,consumables,paper products,37.71,35.55,0.50,52,1,1960.92,26.00,260.00
37,Bradley,Spencer,Warehouse manager,+1-260-443-8861x751,b.spencer.1089@ross.com,48015,5300796,2023-04-18,16,2023,...,software,project management,47.27,36.01,0.27,105,2,4963.35,28.35,283.50
38,Andrea,Brooks,IT technical support officer,+1-225-510-6030,brooks_institution_650@stone.com,90654,9611044,2023-05-23,21,2023,...,furniture,tables,29.03,27.00,0.85,37,4,1074.11,31.45,314.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54591,Anthony,Tucker,"Designer, blown glass/stained glass",+1-503-460-2669,tuckera@nguyen.com,32500,1982007,2023-05-15,20,2023,...,furniture,tables,233.74,211.69,5.16,4,1,934.96,20.64,206.40
54596,Jill,Bailey,Minerals surveyor,800-754-5081,certainly.bailey@gonzales.com,67328,4717508,2023-04-16,15,2023,...,consumables,bathroom supplies,162.73,141.67,0.20,18,0,2929.14,3.60,36.00
54615,Barbara,Hester,Camera operator,446-648-4635x25731,hester.site.3268@king.com,41491,2252891,2023-05-07,18,2023,...,consumables,paper products,13.65,10.22,0.79,21,0,286.65,16.59,165.90
54620,Mary,Wilson,Further education lecturer,307.853.9158,wilsonm8454@bender.net,69074,3730867,2023-05-19,20,2023,...,software,project management,52.24,38.26,0.70,40,2,2089.60,28.00,280.00
54626,Danielle,Moore,Financial manager,(932)238-4205x1418,mooreteam3804@mcclain-aguilar.biz,83552,8673573,2023-03-23,12,2023,...,consumables,paper products,16.42,11.82,0.11,91,2,1494.22,10.01,100.10

In [15]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%
def calculate_total_price(subtotal, shipping):
    return round((subtotal+shipping)*1.0925, 2)
    
df["total_price"] = df.apply(lambda row: calculate_total_price(row['subtotal'], row['shipping_price']), axis=1)
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,total_weight,shipping_price,total_price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,35.67,356.70,1543.57
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.40

In [16]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).
def total_unit_cost(unit_cost, qty, shipping):
    if qty == 0:
        unit_shipping=0
    else:
        unit_shipping = shipping/qty
    return unit_cost + unit_shipping

df["total_unit_cost"]= df.apply(lambda row: total_unit_cost(row['unit_cost'], row['qty'], row['shipping_price']), axis=1)
df.head(50)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,subtotal,total_weight,shipping_price,total_price,total_unit_cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,815.21
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26,29.99
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,19.62
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,35.67,356.70,1543.57,37.15
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.40,433.18
5,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,1327730,2023-05-02,18,2023,...,172.84,154.44,2.79,78,0,13481.52,217.62,1523.34,16392.81,173.97
6,Brian,Moore,Barista,+1-893-400-2733x982,moore.official@martinez.com,87213,8080280,2023-04-19,16,2023,...,245.56,231.95,1.73,56,5,13751.36,96.88,678.16,15764.25,244.06
7,Jesus,Wright,Theme park manager,605.947.9467x66513,wright.jesus.7579@meadows.com,46709,8946782,2023-02-14,7,2023,...,20.99,16.97,5.12,22,4,461.78,112.64,788.48,1365.91,52.81
8,Rebecca,Brown,Chiropodist,665-955-0156x926,rbrown850@lewis.info,73362,9394118,2023-05-13,19,2023,...,83.86,59.00,0.27,49,3,4109.14,13.23,132.30,4633.77,61.70
9,Greg,Garcia,"Secretary, company",(231)342-7216x1421,ggarcia@bentley.biz,58789,9665852,2023-04-14,15,2023,...,66.88,54.15,2.47,78,1,5216.64,192.66,1348.62,7172.55,71.44
10,Kyle,Williams,"Engineer, broadcasting (operations)",+1-432-234-2942,communitywilliams9024@taylor-padilla.biz,81012,5775924,2023-04-12,15,2023,...,520.00,457.16,4.92,98,0,50960.00,482.16,3375.12,59361.12,491.60
11,Roberto,Howard,"Surveyor, land/geomatics",311.284.4575,roberto.howard.1290@davis-reese.info,74112,2859900,2023-02-06,6,2023,...,4.22,3.65,1.82,211,6,890.42,384.02,2688.14,3909.58,16.39
12,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,6059361,2023-05-16,20,2023,...,229.74,198.38,27.51,568,2,130492.32,15625.68,109379.76,262060.25,390.95
13,Patricia,Gould,Lobbyist,+1-694-749-5807x94968,newspapergould@walsh.biz,18145,3470698,2023-04-19,16,2023,...,33.72,30.08,2.01,44,0,1483.68,88.44,619.08,2297.27,44.15
14,Katherine,Taylor,"Psychologist, clinical",(943)632-3743x028,taylor.katherine.733@odonnell.org,48855,5953045,2023-05-11,19,2023,...,39.25,20.95,6.56,157,1,6162.25,1029.92,7209.44,14608.57,66.87
15,Matthew,Orozco,Research scientist (maths),+1-259-213-7449x4333,orozcomatthew@carr.com,67407,5014569,2023-04-09,14,2023,...,29.99,26.84,4.25,29,2,869.71,123.25,862.75,1892.71,56.59
16,Joseph,Jordan,Government social research officer,680.657.3271x16477,jordan_joseph_4684@gibson.net,26185,2101230,2023-05-13,19,2023,...,6.86,4.06,6.89,23,0,157.78,158.47,1109.29,1384.27,52.29
17,Carrie,Green,Colour technologist,+1-242-699-5329x474,c.green@oliver-smith.com,17355,4397711,2023-04-18,16,2023,...,33.41,26.82,29.12,49,0,1637.09,1426.88,9988.16,12700.59,230.66
18,David,Reyes,"Production assistant, television",714.475.3974,davidreyes@daniels.org,28523,6832072,2023-04-05,14,2023,...,13.77,9.63,6.86,29,1,399.33,198.94,1392.58,1957.66,57.65
19,Shelby,Williams,Colour technologist,664.584.8160x389,williamstry70@armstrong.com,77184,7573941,2023-05-29,22,2023,...,199.05,183.99,8.11,233,4,46378.65,1889.63,13227.41,65119.62,240.76
20,Tricia,Stephenson,"Lecturer, further education",(978)811-8729x522,triciastephenson@vasquez.org,61603,7490302,2023-03-12,10,2023,...,98.43,69.36,4.03,136,2,13386.48,548.08,3836.56,18816.17,97.57
21,Patrick,Anderson,Commercial art gallery manager,947-812-9604x27025,andersonboard7205@delgado-hodge.org,51869,5020751,2023-03-16,11,2023,...,53.17,39.52,4.18,52,4,2764.84,217.36,1521.52,4682.85,68.78
22,Peter,Roberts,Architectural technologist,9238354425,roberts.peter@warren-sandoval.com,85413,3401371,2023-04-03,14,2023,...,367.76,235.57,10.08,287,4,105547.12,2892.96,20250.72,137434.14,306.13
23,Christopher,Rhodes,"Engineer, manufacturing systems",001-319-767-5123,rhodeschristopher9096@alvarado.info,74159,6512694,2023-03-09,10,2023,...,382.59,313.09,7.97,60,3,22955.40,478.20,3347.40,28735.81,368.88
24,Glenn,Garcia,Textile designer,573.981.6374,determinegarcia5685@velasquez.com,33804,6024379,2023-01-26,4,2023,...,5.17,3.53,6.90,2163,2,11182.71,14924.70,104472.90,126353.75,51.83
25,Peter,Roberts,Architectural technologist,9238354425,roberts.peter@warren-sandoval.com,85413,9362283,2023-01-18,3,2023,...,7.14,5.10,1.23,129944,4,927800.16,159831.12,1118817.84,2235930.16,13.71
26,Patrick,Anderson,Commercial art gallery manager,947-812-9604x27025,andersonboard7205@delgado-hodge.org,51869,8668707,2023-04-07,14,2023,...,99.34,85.53,2.08,51,0,5066.34,106.08,742.56,6346.22,100.09
27,Jacob,Mendoza,Air cabin crew,+1-264-485-0270x066,jacobmendoza@johnson.biz,54932,5175749,2023-05-28,21,2023,...,37.71,35.55,0.50,52,1,1960.92,26.00,260.00,2426.36,40.55
28,Tiffany,Lowe,Medical illustrator,001-755-263-0037x84650,lowetiffany3935@rodriguez.com,87125,8026387,2023-01-11,2,2023,...,210.12,137.62,16.90,54,4,11346.48,912.60,6388.20,19375.14,255.92
29,Caleb,Rice,Technical brewer,868.703.3751x760,riceelse@collins.com,10643,1940019,2023-03-03,9,2023,...,156.03,125.57,5.56,136,3,21220.08,756.16,5293.12,28965.67,164.49
30,Deborah,Cook,"Radiographer, therapeutic",747.841.2427x57672,cook.d@martin-yoder.com,10351,3052159,2023-01-27,4,2023,...,163.59,106.62,3.94,309,5,50549.31,1217.46,8522.22,64535.65,134.20
31,Richard,Kennedy,Race relations officer,+1-551-603-4716,rkennedy@mcneil.info,10559,7323275,2023-01-11,2,2023,...,410.17,372.06,2.35,67,3,27481.39,157.45,1102.15,31227.52,388.51
32,Connie,Harris,"Horticulturist, amenity",(881)845-5127,bookharris@richardson-foster.com,31733,4657177,2023-05-28,21,2023,...,40.80,28.61,2.12,91,1,3712.80,192.92,1350.44,5531.59,43.45
33,Cynthia,Palmer,"Surveyor, rural practice",+1-843-385-5943x730,palmer.cynthia@weaver.com,95847,6155436,2023-03-15,11,2023,...,201.92,178.70,1.93,159,2,32105.28,306.87,2148.09,37421.81,192.21
34,Erin,Robertson,Science writer,+1-449-731-7108x96007,robertsonerin8454@cox.com,97623,9311270,2023-04-29,17,2023,...,42.06,30.31,1.28,112,1,4710.72,143.36,1003.52,6242.81,39.27
35,Catherine,Barnes,Airline pilot,+1-428-595-7971x494,affect.catherine.6507@singh.org,68703,4178798,2023-03-27,13,2023,...,61.75,54.06,0.78,221,5,13646.75,172.38,1206.66,16227.35,59.52
36,Corey,Wells,Environmental health practitioner,+1-500-281-1615x1387,wellsc964@mercado.com,28927,8688413,2023-04-15,15,2023,...,209.60,116.11,10.74,107,2,22427.20,1149.18,8044.26,33290.07,191.29
37,Bradley,Spencer,Warehouse manager,+1-260-443-8861x751,b.spencer.1089@ross.com,48015,5300796,2023-04-18,16,2023,...,47.27,36.01,0.27,105,2,4963.35,28.35,283.50,5732.18,38.71
38,Andrea,Brooks,IT technical support officer,+1-225-510-6030,brooks_institution_650@stone.com,90654,9611044,2023-05-23,21,2023,...,29.03,27.00,0.85,37,4,1074.11,31.45,314.50,1517.06,35.50
39,Mallory,Mitchell,Quarry manager,335-735-8539x4710,mitchell.mallory.7004@powell-english.com,67516,7012133,2023-04-24,17,2023,...,1.75,1.62,1.39,66,1,115.50,91.74,642.18,827.77,11.35
40,William,Mccann,"Accountant, chartered",001-664-359-2306x9919,mccannw5477@rodriguez-johnson.com,75118,3735477,2023-03-14,11,2023,...,57.06,37.57,2.43,65,0,3708.90,157.95,1105.65,5259.90,54.58
41,Douglas,Bean,"Doctor, general practice",233.661.3092,generation.d@brown.com,32185,8882115,2023-04-07,14,2023,...,141.40,131.96,1.89,43,2,6080.20,81.27,568.89,7264.13,145.19
42,Victor,Griffith,Structural engineer,001-234-380-1800,victorgriffith@contreras.com,96736,1035406,2023-05-21,20,2023,...,41.42,30.02,1.10,131,5,5426.02,144.10,1008.70,7029.93,37.72
43,Taylor,Wagner,Toxicologist,001-870-430-0002x9776,wagner_t@brown.com,89499,4765519,2023-02-28,9,2023,...,200.79,136.93,6.70,192,4,38551.68,1286.40,9004.80,51955.45,183.83
44,Barry,Johnson,"Education officer, museum",3804491689,johnson.end@clarke.com,79827,3117013,2023-05-04,18,2023,...,141.40,131.96,1.89,236,2,33370.40,446.04,3122.28,39868.25,145.19
45,Daniel,Newman,"Designer, interior/spatial",907-222-8932,newman.daniel.3570@patel.com,45569,8286486,2023-03-12,10,2023,...,175.21,162.27,13.83,10,2,1752.10,138.30,968.10,2971.82,259.08
46,Ashley,Hernandez,Retail buyer,264-496-5412,ashley.later.185@hernandez-shaw.info,61647,4950072,2023-01-30,5,2023,...,2.55,1.83,34.85,290,9,739.50,10106.50,70745.50,78097.36,245.78
47,Vincent,Davis,"Designer, exhibition/display",(388)713-4554,davisvincent3740@lopez-king.net,53409,9662359,2023-01-14,2,2023,...,0.87,0.50,0.96,22,2,19.14,21.12,211.20,251.65,10.10
48,Daniel,Newman,"Designer, interior/spatial",907-222-8932,newman.daniel.3570@patel.com,45569,8286486,2023-03-12,10,2023,...,18.76,17.30,10.90,31,4,581.56,337.90,2365.30,3219.44,93.60
49,Curtis,Garcia,Bookseller,676-685-3722x870,curtis.garcia.6686@gardner.com,17002,9585312,2023-05-16,20,2023,...,208.75,179.17,7.20,22,4,4592.50,158.40,1108.80,6228.67,229.57

In [17]:
# Create a column for the profit of
# each line using line cost and line price
df["line_profit"] = ((df["unit_price"] - df["unit_cost"])*df["qty"])
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,subtotal,total_weight,shipping_price,total_price,total_unit_cost,line_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,815.21,35079.45
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,31.29,312.90,914.26,29.99,207.06
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,19.62,220.74
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,24.85,1.23,29,3,1056.18,35.67,356.70,1543.57,37.15,335.53
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.40,433.18,1738.60

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [18]:
# Check your work using the totals above
order_2742071 = df.loc[df["order_id"] == 2742071]
order_2742071["total_price"].sum().round(2)

152811.89

In [19]:
order_2173913 = df.loc[df["order_id"] == 2173913]
order_2173913["total_price"].sum().round(2)

162388.71

In [20]:
order_6128929 = df.loc[df["order_id"] == 6128929]
order_6128929["total_price"].sum().round(2)

923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [21]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.
total_client_quantity = df.groupby('client_id').agg({'qty': 'sum', 'total_price': 'sum'}).reset_index()
total_client_quantity_sorted = total_client_quantity.sort_values(by='qty', ascending=False)
total_client_quantity_sorted.head(5)

     client_id      qty  total_price
758      78965  4033302 655923670.05
850      86721  1010426 181266297.06
204      30143   846069  33328849.85
840      85931   644423 237417001.41
738      77354   506382  71942651.82

In [26]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.
summary_df = df.groupby('client_id').agg({'qty': 'sum', 'shipping_price': 'sum', 'total_price': 'sum', 'line_profit':'sum'}).reset_index()
summary_df_sorted = summary_df.sort_values(by='line_profit', ascending=False)
summary_df_sorted.head(5)

     client_id      qty  shipping_price  total_price  line_profit
758      78965  4033302      5340756.88 655923670.05 191816971.09
840      85931   644423     10122549.19 237417001.41  89192460.51
144      24741   239862      5126448.37  82268892.04  29614433.91
320      38473   402770      4391003.73 183552571.80  27810662.24
850      86721  1010426     64335727.72 181266297.06  27627205.81

In [30]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.
summary_df_sorted = summary_df_sorted.rename(columns={'shipping_price':"total_shipping_cost", "line_profit":"total_profit"})
summary_df_sorted.head(5)

     client_id      qty  total_shipping_cost  total_price  total_profit
758      78965  4033302           5340756.88 655923670.05  191816971.09
840      85931   644423          10122549.19 237417001.41   89192460.51
144      24741   239862           5126448.37  82268892.04   29614433.91
320      38473   402770           4391003.73 183552571.80   27810662.24
850      86721  1010426          64335727.72 181266297.06   27627205.81

In [ ]:
# Sort the updated data by "Total Profit" form highest to lowest